<div class="row" >
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="container-fluid rounded">
      <h1>Eventsurfer</h1>
      <p>Resend confirmation instructions</p>
      <%= image_tag("business-779542_960_720.jpg", class: "rounded mx-auto d-block", width:"200px") %>
    </div>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group input-group">
        <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroupPrepend">
                <i class="far fa-envelope"></i>
              </span>
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", :placeholder => "e-mail",value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions form-group">
        <%= f.submit "Resend confirmation instructions", class: "btn btn-primary btn-block" %>
      </div>
      </form>
    <% end %>


    <%= render "devise/shared/links" %>
  </div>
</div>