<h2><%= t('admin.locations.locations') %></h2>
<table class="table" id="location-indextable">
  <thead class="text-center">
  <tr>
    <th><%= t('admin.locations.name') %></th>
    <th><%= t('admin.locations.street') %></th>
    <th><%= t('admin.locations.street_number') %></th>
    <th><%= t('admin.locations.city') %></th>
    <th><%= t('admin.locations.country') %></th>
    <th><%= button_to "add", new_admin_location_path, method: :get, class: "btn btn-success" %></th>
  </tr>
  </thead>
  <tbody>
  <% @locations.each do |location| %>

    <tr data-id="<%= location.id %>" data-name="<%= location.name %>" data-street="<%= location.street %>" data-streetNumber="<%= location.street_number %>" data-city="<%= location.city %>" data-country="<%= location.country %>" data-postcode="<%= location.postcode %>" data-createdAt="<%= I18n.l(location.created_at.to_date, format: :default) %>" data-updatedAt="<%= I18n.l(location.updated_at.to_date, format: :default) %>" data-changedBy="<%= if location.changed_by == "null"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                location.changed_by
                                                                                                                                                                                                                                                                                                                                                                                                                                                              else
                                                                                                                                                                                                                                                                                                                                                                                                                                                                "No Data"
                                                                                                                                                                                                                                                                                                                                                                                                                                                              end %>" data-link="<%= edit_admin_location_path(location.id) %>" data-toggle="tooltip" data-placement="bottom" title="Click to edit">

      <td><%= location.name %></td>
      <td><%= location.street %></td>
      <td><%= location.street_number %></td>
      <td><%= location.city %></td>
      <td><%= location.country %></td>
      <td>
        <form action="/admin/locations/<%= location.id %>/delete" method="get">
          <button class="btn btn-danger"><%= t('common.delete') %></button>
        </form>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>



<script>
    $("tr[data-link]").click(function () {
        window.location = $(this).data("link");
    })
</script>