<a href="<%= root_path %>" class="btn btn-outline-primary">
  <i class="fas fa-chevron-left"></i> <%= t('admin.events.events') %>
</a>
<h1><%= @event.name %></h1>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-10">
    <h3><%= t('admin.performances.performances') %></h3>
    <table class="table table-hover">
      <thead>
      <tr>
        <th><%= t('admin.locations.locations') %></th>
        <th><%= t('admin.performances.start') %></th>
        <th><%= t('admin.performances.end') %></th>
        <th><%= t('admin.performances.number_of_tickets') %></th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @performances.each do |perform| %>
        <tr>
          <td><%= perform.performance.location.name %></td>
          <td><%= I18n.l(perform.performance.start.to_date, format: :default) %></td>
          <td><%= I18n.l(perform.performance.stop.to_date, format: :default) %></td>
          <td><%= perform.performance.tickets.size %></td>
          <td>
            <a href="<%= frontend_add_to_cart_path(perform.id) %>" class="btn btn-primary"
               data-toggle="tooltip" data-placement="bottom" title="<%= t('admin.cart.add_to') %>">
              <i class="fas fa-shopping-cart"></i>
            </a>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
    $("tr[data-link]").click(function () {
        window.location = $(this).data("link");
    })
</script>
