<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to "Events", root_path %>
  </li>
  <li class="breadcrumb-item active">
    <%= link_to @event.name, frontend_event_path %>
  </li>
</ol>

<div class="container-fluid">
  <h1><%= @event.name %></h1>
  <div class="row">
    <div class="col-sm-6">
      <h3>Performances </h3>
      <table class="table">
        <thead>
        <tr>
          <th><%= I18n.t (:location) %></th>
          <th>ID</th>
          <th>Start</th>
          <th>Stop</th>
        </tr>
        </thead>
        <tbody>
        <% @performances.each do |perform| %>
          <tr>
            <td><%= perform.performance.location.name %></td>
            <td><%= perform.performance.id %></td>
            <td><%= I18n.l(perform.performance.start.to_date, format: :default) %></td>
            <td><%= I18n.l(perform.performance.stop.to_date, format: :default) %></td>
            <td><%= perform.performance.tickets.size %></td>
            <td>
              <a href=<%= frontend_event_performance_path(perform.performance.event.id, perform.performance.id) %>>Performance</a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
    $("tr[data-link]").click(function () {
        window.location = $(this).data("link");
    })
</script>
