
<h1>dd</h1>
<span id="t1_1" class="t s1_1"><%= @info.company %> <%= @info.street %> <%= @info.street_number %> | <%= @info.postcode %> <%= @info.city %></span>
<div id="t2_1" class="t s2_1"><%= "Name of Person who orderd" %></div>
<div id="t3_1" class="t s2_1"><%= "Destination street and number" %></div>
<div id="t4_1" class="t s2_1"><%= "Postcode and city" %></div>
<div id="t5_1" class="t s2_1"><%= @info.company %></div>
<div id="t6_1" class="t s2_1"><%= @info.street %> <%= @info.street_number %></div>
<div id="t7_1" class="t s2_1"><%= @info.postcode %> <%= @info.city %></div>
<div id="t8_1" class="t s2_1"><%= @info.cellphone %></div>
<div id="t9_1" class="t s2_1"><%= @info.email %></div>
<div id="ta_1" class="t s2_1"><%= @info.website %></div>
<div id="tb_1" class="t s3_1">Rechnung</div>
<div id="tc_1" class="t s2_1">Rechnungs-Nr.: </div>
<div id="td_1" class="t s4_1">M1675</div>
<div id="te_1" class="t s2_1">Auftrags-Nr.:</div>
<div id="tf_1" class="t s2_1">O1727</div>
<div id="tg_1" class="t s2_1"><%= "Commission" %></div>
<div id="th_1" class="t s2_1"><%= "short text event and performance" %></div>
<div id="ti_1" class="t s2_1">Kunden-Nr.: <%= "user id" %></div>
<div id="tj_1" class="t s2_1">1068</div>
<div id="tk_1" class="t s2_1">Bestell-Nr.:</div>
<div id="tl_1" class="t s2_1">369852</div>
<div id="tm_1" class="t s2_1">Rechnungsdatum:</div>
<div id="tn_1" class="t s2_1">28.05.15</div>
<div id="to_1" class="t s2_1">Lieferdatum:</div>
<div id="tp_1" class="t s2_1">29.05.15</div>
<div id="tq_1" class="t s2_1">Bearbeiter:</div>
<div id="tr_1" class="t s2_1">Dorothea Schäfer</div>
<div id="ts_1" class="t s2_1">Telefon:</div>
<div id="tt_1" class="t s2_1">030 2121359</div>
<div id="tu_1" class="t s2_1">E-Mail:</div>
<div id="tv_1" class="t s2_1">mail@muster.de</div>
<h1>ddd</h1>
<table class="table">
  <th>dd</th>
  <th>dd</th>
  <tbody>
  <tr><td>dd</td><td>ddd</td></tr>
  </tbody>
</table>