<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to "Orders", admin_orders_path %>

  </li>
</ol>
<h2>Orders</h2>
<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <h3>Paid</h3>
      <div class="panel-group">
        <% @paid.each do |userOrder| %>
          <div class="panel panel-default hover">
            <div class="panel-heading">
              <h5 class="panel-title">
                <div class="clearfix">
                  <span data-toggle="collapse" href="#collapsepaid<%= userOrder[0].to_s %>"><%= @user.find(userOrder[0]).name %>
                    <span class="float-right"><i class="fas fa-chevron-down"></i></span></span>
                </div>
              </h5>
              <div class="panel-collapse collapse " id="collapsepaid<%= userOrder[0].to_s %>">
                <div class="panel-body">
                  <table class="table text-center table-hover">
                    <th><%= "Order Nr." %></th>
                    <th><%= "paid_at" %></th>
                    <th><%= "payment_method" %></th>
                    <tbody>
                    <% userOrder[1].each do |order| %>
                      <tr data-link="<%= admin_order_path(order.id) %>">
                        <td><%= order.id %></td>
                        <td><%= I18n.l(order.paid_at.to_date, format: :shortest) %></td>
                        <td><%= order.payment_method %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6">
      <h3>Unpaid</h3>
      <div class="panel-group">
        <% @unpaid.each do |userOrder| %>
          <div class="panel panel-default hover">
            <div class="panel-heading">
              <h5 class="panel-title">
                <div class="clearfix">
                  <span data-toggle="collapse" href="#collapseun<%= userOrder[0].to_s %>"><%= @user.find(userOrder[0]).name %>
                    <span class="float-right"><i class="fas fa-chevron-down"></i></span></span>
                </div>
              </h5>
              <div class="panel-collapse collapse " id="collapseun<%= userOrder[0].to_s %>">
                <div class="panel-body">
                  <table class="table text-center table-hover">
                    <tr>
                      <th><%= "Order Nr." %></th>
                      <th><%= "Created at" %></th>
                      <th></th>
                    </tr>
                    <tbody>
                    <% userOrder[1].each do |order| %>
                      <tr data-link="<%= admin_order_path(order.id) %>">
                        <td><%= order.id %></td>
                        <td><%= I18n.l(order.created_at.to_date, format: :shortest) %></td>
                        <td><%=  button_to "Set Paid", "/admin/orders/#{order.id}/setPaid"%></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script>
    $("tr[data-link]").click(function () {
        window.location = $(this).data("link");
    })
</script>
