<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to "Orders", admin_orders_path %>
  </li>
  <li class="breadcrumb-item active">
    <%= link_to @order.id, admin_order_path(@order.id) %>
  </li>
</ol>
<h2>Order Nr.: <%= @order.id %></h2>

<p><%= @user.name %><br><%= I18n.l(@order.created_at, format: :shortest) %></p>
<br>

<% count = 1 %>
<div id="table">
  <table id="order" class="table text-center table-hover">
    <thead>
    <tr>
      <th>Pos</th>
      <th>Description</th>
      <th>Number of Tickets</th>
      <th>Unit Price €</th>
      <th>Subtotal</th>
    </tr>
    </thead>
    <tbody>
    <% total = [] %>
    <% @groupTickets.each do |groupTicket| %>
      <tr>
        <td><%= count %></td>
        <td><%= @performances.find(groupTicket.performance_id).event.name %>
          , <%= @performances.find(groupTicket.performance_id).location.name %>
          (<%= I18n.l(@performances.find(groupTicket.performance_id).start) %>)
        </td>
        <td><%= groupTicket.count %></td>
        <td><%= groupTicket.single_price %></td>
        <td><%= total.push((groupTicket.single_price * groupTicket.count.to_f).round(2)).last %></td>
      </tr>
      <% count += 1 %>
    <% end %>
    </tbody>
  </table>
  <div id="total">
    <p>Total: <%= total.inject(0) {|sum, x| sum + x} %> €</p>
  </div>
</div>
<div class="btn-group">
  <% if @order.paid? %>
    <%= button_to t("admin.orders.setUnPaid"), "/admin/orders/#{@order.id}/setUnPaid", method: :post, class: "btn btn-warning" %>
  <% else %>
    <%= button_to t("admin.orders.setPaid"), "/admin/orders/#{@order.id}/setPaid", method: :post, class: "btn btn-warning" %>
  <% end %>
  <%= button_to t("delete"), admin_order_path(@order.id), method: :delete, class: "btn btn-danger" %>
</div>