<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to "Events", root_path %>

  </li>
  <li class="breadcrumb-item active">
    <%= link_to @event.name, event_path %>
  </li>
</ol>

<div class="container-fluid">
  <h1 ><%= @event.name %></h1>
  <div class="row">
    <div class="col-sm-6">
      <h3>Performances </h3>
      <table class="table">
        <th><%= I18n.t (:location) %></th>
        <th>Start</th>
        <th>Stop</th>
        <tbody>
        <% @performances.each do |perform| %>
          <tr>
            <td><%= @locations.find_by(:performance_id => perform.performance.id).location.name%></td>
            <td><%= I18n.l(perform.performance.start.to_date, format: :default) %></td>
            <td><%= I18n.l(perform.performance.stop.to_date, format: :default) %></td>
            <td><%= @tickets.where(:performances_id => perform.performance.id).size%></td>
            <td><a href="#" class="btn btn-info" role="button">Add to cart</a></td>
          </tr>
        <% end %>

        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
    $("tr[data-link]").click(function () {
        window.location = $(this).data("link");
    })
</script>
