<%= form_for :performance do |form| %>
  <div class="form-inline">
    <div class="form-group">
      <%= form.label(:start) %>
      <%= form.datetime_select(:start, class: "form-control", placeholder: "start of performances") %>
    </div>
    <div class="form-group">
      <%= form.label(:stop) %>
      <%= form.datetime_select(:stop, class: "form-control", placeholder: "stop of performances") %>
    </div>
    <div class="form-group">
      <%= form.label(:prize) %>
      <%= form.number_field(:prize, class: "form-control", :min => 0) %>
    </div>
    <div class="form-group">
      <%= form.label(:sell_allowed) %>
      <%= form.check_box(:sell_allowed) %>
    </div>
    <div class="form-group">
      <%= form.label(:stop_selling) %>
      <%= form.datetime_select(:stop_selling, class: "form-control", placeholder: "stop of selling") %>
    </div>
    <div class="form-group">
      <%= form.label(:number_of_tickets) %>
      <%= form.number_field(:number_of_tickets, class: "form-control", step:1) %>
    </div>
  </div>
  <div class="form-group">
    <div>
      <%= form.submit("change", class: "btn btn-primary") %>
    </div>
  </div>

<% end %>