<h1>Index performances</h1>
<table class="table table-striped table-responsive table-sm table-active table-hover">
  <th>Name</th>
  <th>Start date</th>
  <th>End date</th>
  <th><%= button_to "add", new_admin_performance_path, method: :get, class: "btn btn-success" %></th>
  <tbody>
  <% @performances.each do |performances| %>
    <tr data-id="<%= performances.id %>"  data-start="<%= I18n.l(performances.start.to_datetime, format: :shortest) %>" data-createdAt="<%= I18n.l(performances.created_at.to_datetime, format: :shortest) %>" data-updatedAt="<%= I18n.l(performances.updated_at.to_datetime, format: :shortest) %>" data-stop="<%= I18n.l(performances.stop.to_datetime, format: :shortest) %>" data-changedBy="<%= performances.changed_by %>" data-link="<%= edit_admin_performance_path(performances.id) %>" data-toggle="tooltip" data-placement="bottom" title="Click to edit">
      <td><%= I18n.l(performances.start.to_datetime, format: :shortest) %></td>
      <td><%= I18n.l(performances.stop.to_datetime, format: :shortest) %></td>
      <td><form action="/admin/performances/<%=performances.id %>/delete" method="get"><button class="btn btn-danger">Delete</button></form></td>
    </tr>
  <% end %>
  </tbody>
</table>
<script>
    $("tr[data-link]").click(function () {
        window.location = $(this).data("link");
    })
</script>