<h1><%= t('admin.settings.settings') %></h1>

<%= link_to(t('admin.settings.add'),
            new_admin_setting_path,
            class: "btn btn-primary") %>
<table class="table text-center table-hover">
  <thead>
  <tr>
    <th><%= t('admin.settings.key') %></th>
    <th><%= t('admin.settings.value') %></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @settings.each do |setting| %>
    <tr>
      <td><%= setting.key %></td>
      <td><%= setting.value %></td>
      <td>
        <%= link_to(edit_admin_setting_path(setting.id),
                    class: "btn btn-secondary",
                    "data-toggle": "tooltip",
                    "data-placement": "top",
                    title: "edit") do %>
          <i class="far fa-edit"></i>
        <% end %>
      </td>
      <td>
        <%= button_to(admin_setting_path(setting.id),
                      class: "btn btn-secondary",
                      "data-toggle": "tooltip",
                      "data-placement": "top",
                      title: "destroy",
                      method: :delete,
                      data: {confirm:
                                 "Delete settings?"}) do %>
          <i class="far fa-trash-alt"></i>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

