<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('admin.settings.key') %>:</strong>
  <%= @setting.key %>
</p>

<p>
  <strong><%= t('admin.settings.value') %>:</strong>
  <%= @setting.value %>
</p>

<%= link_to 'Edit', edit_setting_path(@setting) %> |
<%= link_to 'Back', settings_path %>
