<p> Your order:</p>
<% @items.each do |item| %>
  <tr>
    <td><%= item[0] %></td>
  </tr>

<% end %>

<%= form_tag(frontend_create_order_path, method: "post") do %>
  <%= radio_button_tag(:payment_method, Order.payment_methods[:bill])%>
  <%= radio_button_tag(:payment_method, Order.payment_methods[:paypal])%>
  <%= radio_button_tag(:payment_method, Order.payment_methods[:card])%>
  <%= submit_tag value = "ORDER" %>
<% end %>

