<table class="table">
  <th><%= t('admin.performances.performances') %></th>
  <th><%= t('admin.performances.number_of_tickets') %></th>
  <tbody>
  <% if !@items.nil? %>
    <% @items.each do |item| %>
      <tr>
        <td><%= item[0] %></td>
        <td><%= item[1] %></td>
      </tr>
    <% end %>
  <% end %>

  </tbody>
  <%= button_to t('admin.cart.order'), frontend_create_order_path, method: :post %>

</table>
