<table class="table">
  <thead>
  <tr>
    <th>Performance</th>
    <th>Location</th>
    <th>Beginning</th>
    <th>Count</th>
  </tr>
  </thead>
  <tbody>
  <% if !@items.nil? %>
    <% @items.each do |item| %>
      <tr>
        <td><%= item[0].event.name %></td>
        <td><%= item[0].location.name %></td>
        <td><%= I18n.l(item[0].start) %></td>
        <td><%= item[1] %></td>
      </tr>
    <% end %>
    <%= @cart %>
  <% end %>
  </tbody>
</table>
<a href="<%= frontend_create_order_path %>" class="btn btn-primary">ORDER <i class="far fa-credit-card"></i></a>
