<table class="table text-center table-hover">
  <thead>
  <tr>
    <th><%= t('admin.users.id') %></th>
    <th><%= t('admin.users.name') %></th>
    <th><%= t('admin.users.email') %></th>
    <th><%= t('admin.users.enabled') %></th>
    <th><%= t('admin.users.registration') %></th>
    <th><%= t('admin.users.passsword') %></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.enabled %></td>
      <td><%= user.created_at %></td>
      <td><%= user.admin %></td>
      <td>
        <%= link_to(t('common.edit'),
                    edit_admin_user_path(user),
                    class: "btn btn-secondary ", style: "background-color: ") %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
