<!DOCTYPE html>
<html lang="en">

<head>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag "sb-admin" %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Find ">
  <meta name="author" content="Florian Fynn Weber">
  <meta name="author" content="Falko Tschernay">
  <meta name="author" content="Simon Bullik">

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

  <a class="navbar-brand mr-1" href="<%= admin_dashboards_path %>">Eventsurfer</a>

  <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Navbar Search -->
  <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">
          <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <!-- Navbar -->
  <ul class="navbar-nav ml-auto ml-md-0">
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <span class="badge badge-danger">9+</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="alertsDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-envelope fa-fw"></i>
        <span class="badge badge-danger">7</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="messagesDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item dropdown no-arrow">
      <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-user-circle fa-fw"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
        <a class="dropdown-item" href="<%= edit_user_registration_path %>">Settings</a>
        <a class="dropdown-item" href="#">Activity Log</a>
        <div class="dropdown-divider"></div>
        <p class="dropdown-item"><%= button_to "logout",destroy_user_session_path, method: :delete, class: "btn btn-primary" %></p>

      </div>
    </li>
  </ul>

</nav>
<div id="wrapper">

  <!-- Sidebar -->
  <ul class="sidebar navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="<%= admin_dashboards_path %>">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span>
      </a>
    </li>

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="eventsDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-calendar-day"></i>
        <span>Events</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="eventsDropdown">
        <a class="dropdown-item" href="<%= admin_events_path %>">Show all events</a>
        <a class="dropdown-item" href="<%= new_admin_event_path %>">Create event</a>
        <a class="dropdown-item" href="<%= admin_event_path(1) %>"></a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="performancesDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-theater-masks"></i>
        <span>Performances</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="performancesDropdown">
        <a class="dropdown-item" href="#">Show all performances</a>
        <a class="dropdown-item" href="#">Add performance</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="locationsDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-map"></i>
        <span>Locations</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="locationsDropdown">
        <a class="dropdown-item" href="<%= admin_locations_path %>">Show all locations</a>
        <a class="dropdown-item" href="<%= new_admin_location_path %>">Add location</a>
        <a class="dropdown-item" href="#">Global Map</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="usersDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-address-book"></i>
        <span>Users</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="pagesDropdown">
        <h6 class="dropdown-header"><i class="fas fa-fw fa-address-card"></i> Costumer</h6>
        <a class="dropdown-item" href="#">Show all costumer</a>
        <a class="dropdown-item" href="#">Statistics</a>
        <div class="dropdown-divider"></div>
        <h6 class="dropdown-header"><i class="fas fa-fw fa-user"></i> Employer</h6>
        <a class="dropdown-item" href="<%= admin_users_path %>">Show all employer</a>
        <a class="dropdown-item" href="<%= new_admin_user_path %>">Add employer</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="ordersDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-clipboard-list"></i>
        <span>Orders</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="ordersDropdown">
        <a class="dropdown-item" href="#">Show all orders</a>
        <a class="dropdown-item" href="#">Add order</a>
        <a class="dropdown-item" href="#">Statistics</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button" data-toggle="dropdown"
         aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-fw fa-theater-masks"></i>
        <span>Settings</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="performancesDropdown">
        <a class="dropdown-item" href="<%= admin_settings_url %>"><i class="fas fa-tools"></i> General</a>
        <a class="dropdown-item" href="<%= admin_api_clients_url %>">API Clients</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="charts.html">
        <i class="fas fa-chart-area"></i>
        <span>Charts</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="tables.html">
        <i class="fas fa-fw fa-table"></i>
        <span>Tables</span></a>
    </li>
  </ul>
  <div id="content-wrapper">
    <div class="container-fluid">
      <%= yield %>
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /content-wrapper -->

</div>
<!-- /#wrapper -->
</body>

</html>