<!DOCTYPE html>
<html>
<head>
  <title>EventSurfer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script>
      $(function () {
          $('[data-toggle="tooltip"]').tooltip()
      })
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= render 'application/favicon' %>
  <meta name="description" content="Find ">
  <meta name="author" content="Florian Fynn Weber">
  <meta name="author" content="Falko Tschernay">
  <meta name="author" content="Simon Bullik">

  <title>EventSurfer</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="<%= root_path %>">Eventsurfer</a>
  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse" id="navbarCollapse" style="">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item
        <% if current_page?(root_path) %>active
        <% end %>">
        <a class="nav-link" href="<%= root_path %>">
          <%= t('startpage') %>
        </a>
      </li>
      <li class="nav-item
        <% if current_page?(frontend_list_path) %>active
        <% end %>">
        <a class="nav-link" href="<%= frontend_list_path %>">Events</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <% if current_user.nil? ? false : current_user.admin? %>
        <li class="nav-item">
          <a class="nav-link" href="<%= admin_dashboards_path %>">
            <i class="fas fa-tools"></i>
          </a>
        </li>
      <% end %>
      <li class="nav-item">
        <a class=" nav-link" href="<%= frontend_cart_path %>">
          <i class="fas fa-shopping-cart"></i>
          <% unless @cart.nil? %>
            <% if @cart.size > 0 %>
              <span class="badge badge-light"><%= @cart.size %></span>
              <span class="sr-only">Tickets in cart</span>
            <% end %>
          <% end %>
        </a>
      </li>
      <% if current_user.nil? %>
        <li class="nav-item">
          <a class="nav-link" href="<%= new_user_session_path %>">
            <i class="fas fa-sign-in-alt"></i>
          </a>
        </li>
      <% else %>
        <li class="nav-item">
          <a class="nav-link" href="<%= edit_user_registration_path %>">
            <i class="fas fa-user-circle"></i>
          </a>
        </li>
        <li class="nav-item">
          <%= form_tag(destroy_user_session_path, method: "delete") do %>
            <button class="nav-link" type="submit" style="background-color: transparent; border:none">
              <i class="fas fa-sign-out-alt"></i>
            </button>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
<!-- Header -->
<header class="bg-primary py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Eventsurfer</h1>
        <p class="lead mb-5 text-white-50">Finde dein nächstes Event</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container" style="min-height: 50vh">
  <% if notice or alert %>
    <% if notice %>
      <p class="alert alert-success alert-dismissible fade show" role="alert">
        <%= notice %>
    <% elsif alert %>
      <p class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= alert %>
    <% end %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    </p>
  <% end %>
  <%= yield %>
</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark" style="margin-top: 3rem">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Eventsurfer 2020</p>
  </div>
  <!-- /.container -->
</footer>
</body>
</html>
