<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <%= link_to "Events", root_path %>
  </li>
  <li class="breadcrumb-item active">
    <%= link_to @performance.id, frontend_event_path %>
  </li>
</ol>

<div class="container-fluid">
  <h1>PERFORMANCE LOCATION</h1>
  <div class="row">
    <div class="col-sm-6">
      <h3>Tickets </h3>
      <table class="table">
        <th><%= I18n.t (:location) %></th>
        <th>ID</th>
        <th>Price</th>
        <th>Location</th>
        <tbody>
        <% @performance.tickets do |ticket| %>
          <tr>
            <td><%= ticket.id%></td>
            <td><%= ticket.price%></td>
            <td><a href=<%= frontend_event_performance_path(perform.id)%>>Performance</a></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
    $("tr[data-link]").click(function () {
        window.location = $(this).data("link");
    })
</script>
