<a href="<%= frontend_event_path(@performance.event.id) %>" class="btn btn-outline-primary">
  <i class="fas fa-chevron-left"></i> <%= @performance.event.name %>
  <%= t('admin.performances.performances') %>
</a>
<div class="container-fluid">
  <h1><%= @performance.location.name %></h1>
  <div class="row">
    <div class="col-sm-6">
      <h3><%= t('admin.tickets.tickets') %></h3>
      <table class="table">
        <thead>
        <tr>
          <th>Nr</th>
          <th>Preis</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @performance.tickets.each do |ticket| %>
          <tr>
            <td><%= ticket.id %></td>
            <td><%= @performance.prize %> €</td>
            <td>
              <a href="<%= frontend_add_to_cart_path(ticket.id) %>" class="btn btn-primary"
                 data-toggle="tooltip" data-placement="bottom" title="<%= t('admin.cart.add_to') %>">
                <i class="fas fa-shopping-cart"></i>
              </a>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
    $("tr[data-link]").click(function () {
        window.location = $(this).data("link");
    })
</script>
